* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  font-size: 16px;
}

header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  align-items: center;
}
header h1 {
  font-size: 20px;
}

.header-img {
  width: 70px;
}

.section-1 {
  display: flex;
  width: fit-content;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
}

hr {
  width: 200px;
  margin-top: 30px;
}
.container-2 {
  background-color: rgb(238, 238, 238);
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(185, 183, 183);
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
}
